
RewriteEngine on
# Use PHP5 Single php.ini as default
AddHandler application/x-httpd-php5s .php
RewriteCond %{HTTP_HOST} ^m\.mindster\.in$ [OR]
RewriteCond %{HTTP_HOST} ^www\.m\.mindster\.in$
RewriteRule ^/?$ "http\:\/\/www\.mindster\.in\/mobile\/index\.html" [R=301,L]

